#app-mount .icon-22AiRD:hover {
    color: #00c2cc;
    filter: drop-shadow(0 0 3px);
}

.typeWindows-1za-n7 > .wordmark-2iDDfm:before {
    content: "- Kirbae";
    color: #00c2cc; 
    filter: drop-shadow(0 0 3px);
    
}

.typeWindows-1za-n7 > .wordmark-2iDDfm:after, .container-3baos1:before, .container-3baos1:after {
    display: none;
}

.numberBadge-2s8kKX, .textBadge-1iylP6
{
    background: red !important;
    box-shadow: 0 0 10px -3px red;
    color: white;
}

#app-mount .layout-2DM8Md:hover {
    border: 2px solid #00c2cc;
}

.contents-2mQqc9>img[src*="494126770786664448"] ~ .header-23xsNx>.username-1A8OIy::after {
    content: "Verified";
}

.contents-2mQqc9>img[src*="378618402169946112"] ~ .header-23xsNx>.username-1A8OIy::after {
    content: "Verified";
}

.contents-2mQqc9>img ~ .header-23xsNx>.username-1A8OIy::after {
    content: none;
    color: currentcolor;
    text-shadow: 0 0 2px currentcolor;
    border: 1px solid;
    border-radius: 6px;
    margin-left: 8px;
    background-color: rgba(255,255,255,0.07);
    font-size: 10px;
    padding: 0 5px;
}

#app-mount .members-1998pB .membersGroup-v9BXpm {
    color:  #00c2cc;
}

#app-mount .name-IbjUBS {
    color:  #00c2cc;
}

.container-PNkimc .header-2o-2hj:hover {
    background-color:  #00c2cc;
}

#app-mount .activityText-yGKsKm>strong {
    color: yellowgreen;
}

.embed-IeVjo6 {
    border-color:  #00c2cc;
}

.search-2oPWTC .searchBar-3dMhjb, .libraryFilter-31ZUa2, .browseSearch-e9jF-f {
    border: 1px solid  #00c2cc;
    transition: width .2s ease-in-out .1s;
}

.container-1ov-mD>* {
    border: 1px solid #00c2cc;;
    border-left: 5px solid  #00c2cc;
}

#app-mount .title-29uC1r {
    color:  #00c2cc;
    filter: drop-shadow(0 0 3px);
} 

.mention {
    color:  #00c2cc!important; /* color of mention text, as in @user or #channel or any valid mention */
    background-color: transparant!important; /* background color of mention text */
}
.mention:hover {
    color: #00c2cc;!important; /* color of mention text when hovered */
    background-color: pink!important; /* background color of mention text when hovered */ 
}

.theme-dark .mentioned-xhSam7 .mention, .theme-light .mentioned-xhSam7 .mention {
    color:  #00c2cc!important;
    background-color: rgba(119,119,11910.15)!important;
}

.theme-dark:hover .mentioned-xhSam7:hover .mention:hover, .theme-light:hover .mentioned-xhSam7:hover .mention:hover {
    color: #00c2cc;!important;
    background-color:  #00c2cc!important;
    border-radius: 5px;
    padding: 1px 4px;
}

#app-mount .name-3_Dsmg:hover, .containerDefault-1ZnADq:hover {
    filter: drop-shadow( 0 0 3px);
    color:  #00c2cc;
}

.children-Bmpf2Q:hover {
    filter: drop-shadow(0 0 3px);
    color:  #00c2cc;
}

.avatar-1BDn8e.clickable-1bVtEA { 
    filter: drop-shadow(0 0 3px);
    color:  #00c2cc;
}

.avatar-1BDn8e:hover.clickable-1bVtEA:hover {
    filter: drop-shadow(0 0 8px);
    color:  #00c2cc;
    transform: rotate(360deg);
    transition: width .5s ease, height .5s ease, transform .5s ease;
}

.homeIcon-tEMBK1 {
    filter: drop-shadow(0 0 5px);
    color:#00c2cc;;
}

.wrapper-3t9DeA {
    filter: drop-shadow(0 0 2px);
    color:  #00c2cc;
}

.contents-18-Yxp {
    filter: drop-shadow(0 0 3px);
    color:  #00c2cc;
} 

.userPopout-3XzG_A:hover .note-3HfJZ5:hover>textarea {
    border: 1px solid #00c2cc;;
}

.userSettingsAccount-2eMFVR .userInfoEditing-1CEzdT, .userSettingsAccount-2eMFVR .userInfoViewing-16kqK3 {
    background-image: url(https://wallpapercave.com/wp/nmwcuAD.jpg);
}


.content-1o0f9g {
    color: black;
    border: 1px solid  #00c2cc;
    background: linear-gradient(to top right, #00c2cc,  #00c2cc;
}

#app-mount .standardSidebarView-3F1I7i .userSettingsAccount-2eMFVR div:nth-child(2) > div:nth-child(2) > .viewBody-2Qz-jg {
    transition: all 150ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
    filter: blur(4px);
    opacity: 0.8;}
#app-mount .standardSidebarView-3F1I7i .userSettingsAccount-2eMFVR div:nth-child(2) > div:nth-child(2) > .viewBody-2Qz-jg:hover {
    transition: all 150ms cubic-bezier(0.550, 0.085, 0.680, 0.530);
    filter: blur(0px);
    opacity: 0.8;
}

.members-1998pB .membersGroup-v9BXpm:before {
    color: #00c2cc;;
}

.members-1998pB .membersGroup-v9BXpm:after {
    color: #00c2cc;;
}

.homeIcon-tEMBK1:hover {
    animation: boom 1s infinite;
}

@keyframes boom {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
#app-mount .timestamp-3ZCmNB {
    color:#10c2cc;
}

.role-2irmRk {
  border-radius: 99px; /* basically anything higher than container height */
  overflow: hidden;
}


